<!DOCTYPE html>
<html lang="en"><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Concert Ticket</title>
</head><body>
        <div class="ticket">
            <h2>Ticket pour l'évènement suivant</h2>
            <div class="qr-code">
                <img src="{{ simple }}" alt="">
            </div>
        </div>
</body></html>